body {
  padding: 0;
  margin: 0;
}

html {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.fore{
  z-index: 50000;
  position: absolute;
  pointer-events: none;
}

#foreLeft{
  float: left;
  top: 0px;
  left: 0px;
}

#mapNames{
  pointer-events: none;
}

/*#foreRight{
  float: right;
  bottom: 0px;
  right: 5px;
}*/

#locationPopup {
  background-color: rgba(255, 0, 0, 0.3);
  margin: auto;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

#locationPopupInner {
  background-color: rgba(255, 0, 0, 0.7);
  width: 50%;
  /*margin: auto;*/
  /*position: relative;*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

#speaker{
	padding-top: 25px;
}

#player{
	display: table;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 17px;
	}

.slideshow-container {
  position: relative;
  margin: auto;
  max-height: 47vh;
  min-height: 27vh;
}

.photoS{
	max-width: 90%;
	max-height: 49vh;
}

.mySlides {
  display: none;
}

.close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 1%;
  font-size: 21px;
  /*transition: 0.6s ease;*/
  user-select: none;
  right: 2%;
  padding: 6px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 35px;
  /*transition: 0.6s ease;*/
  user-select: none;
}

.prev {
  left: 11px;
}

.next {
  right: 11px;
}

.prev:hover, .next:hover, .close:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}