html {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Lora', serif;
}

#base{
	width: 80vw;
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	bottom: 0;
	opacity: .3;
	/*border-style: dotted;*/
}

#locationHolder{
	display: flex;
    width: 97vw;
    margin: auto;
    padding-top: 6vh;
    height: 94vh;
}

.location{
	padding-bottom: 2vh;
	color: #ed1c24;
}

.lName{
	font-family: 'Lora', serif;
	font-weight: 800;
    font-size: 25px;
}

#locationPopup {
    /*height: 57vh;*/
    background-color: rgba(255, 0, 0, 0.6);
    width: 90%;
    margin: auto;
    text-align: center;
}

#speaker{
	padding-top: 8px;
}

#player{
	display: table;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 17px;
	}