html {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

#base{
	width: 80vw;
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	bottom: 0;
	opacity: .5;
	/*border-style: dotted;*/
}

#locationHolder{
	display: flex;
    width: 97vw;
    margin: auto;
    padding-top: 6vh;
    height: 94vh;
}

.location{
	padding-bottom: 2vh;
	color: #ed1c24;
}

.lName{
	font-weight: 800;
    font-size: 25px;
}

#locationPopup {
    /*height: 57vh;*/
    background-color: rgba(255, 0, 0, 0.6);
    width: 90%;
    margin: auto;
    text-align: center;
}

#speaker{
	padding-top: 8px;
}

#player{
	display: table;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 17px;
	}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 47vh;
}

.photoS{
	max-width: 90%;
	max-height: 49vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  /*border-radius: 0 3px 3px 0;*/ 
  user-select: none;
}

.prev {
  left: 11px;
}

/* Position the "next button" to the right */
.next {
  right: 11px;
  /*border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}